<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Practice 028</title>
  <link rel="stylesheet" href="../bootstrap.css">
</head>
<body ng-controller="SyntaxController as sc">
  
  <div class="jumbotron">
    <h1>{{ sc.data.title }}</h1>
  </div>

  <p>
    <input type="text" ng-model="sc.data.input">
    <button ng-click="sc.print()">Print data</button>
  </p>

  <p>
    <pre>
      {{ sc.data | json }}
    </pre>
  </p>

  <script src="../angular.js"></script>
  <script src="app.js"></script>
</body>
</html>